<div class="header">
  <div class="header--actions">
    <div class="header--actions--menu" id="menu-content">
      <ion-icon name="menu-outline" (click)="onDevelopment()"></ion-icon>
    </div>

    <div class="header--actions--logo">
      <ion-img src="assets/logo/logo.png"></ion-img>
    </div>

    <div class="header--actions--notifications">
      <ion-icon name="notifications" (click)="onDevelopment()"></ion-icon>
      <div class="header--actions--notifications--circle">
        <ion-icon name="ellipse"></ion-icon>

      </div>
    </div>

  </div>
  <div class="header--container">
    <div class="header--container--informations">
      <div class="header--container--informations--avatar">
        <ion-img src="assets/profile/profile.png" (click)="onDevelopment()"></ion-img>
      </div>
      <div class="header--container--informations--info">
        <span class="header--container--informations--info--name">{{user.name}}</span>
        <span [ngClass]="{'purple' : user.level.includes('roxo'),
                          'yellow' : user.level.includes('amarelo'),
                          'white' : user.level.includes('branco')}">
                          Nível {{user.level}}</span>
      </div>
    </div>
  </div>
  <div class="header">
    <ion-card class="header--card">
      <div class="header--card--actions">
        <ion-icon class="header--card--actions--icons" name="body-outline"></ion-icon>
        <ion-button class="header--card--actions--buttons" fill="clear" (click)="onDevelopment()">MEU CORPO</ion-button>

        <ion-icon class="header--card--actions--icons" name="trophy-outline"></ion-icon>
        <ion-button class="header--card--actions--buttons" fill="clear" (click)="onDevelopment()">OBJETIVOS E CONQUISTAS</ion-button>
      </div>
    </ion-card>

  </div>
</div>
