.header {
  background-color: #363434;
  color: white;
  padding: calc(0.4rem + var(--ion-safe-area-top)) 0.4rem 0.4rem;
  border-radius: 0 0 2.8rem 2.8rem;

  &--actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.5rem;

    &--menu {
      ion-icon {
        color: #FFFFFF;
        font-size: 2.2rem;
        cursor: pointer;
      }
    }

    &--logo {
      ion-img {
        width: 7rem;
      }
    }

    &--notifications {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0.5rem;
      font-size: 1.2rem;
      color: var(--color-orange);;
      background-color: #000000;
      border-radius: 50%;
      box-shadow: 0rem 0.2rem 0.2rem #151414;
      cursor: pointer;

      &--circle {
        display: flex;
        justify-content: right;
        align-items: end;
        margin-bottom: 1.5rem;
        margin-left: 1.5rem;
        position: absolute;
        background-color: #13abab;
        color: #13abab;
        border-radius: 50%;
        font-size: 0.8rem;
      }
    }
  }

  &--container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &--informations {
      display: flex;
      align-items: center;
      justify-content: left;
      margin-left: 1.8rem;

      &--info {
        display: flex;
        flex-direction: column;
        margin-left: 0.6rem;
        font-size: 0.8rem;
        text-transform: uppercase;

        &--name {
          font-size: 1.2rem;
          font-weight: bold;
          position: static;
          color: var(--color-white);
        }
      }

      &--avatar {
        cursor: pointer;
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
        overflow: hidden;
        box-shadow: 0px 0px 1rem 0px rgba(0, 0, 0, 0.75);
      }
    }
  }

  &--card {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5rem;
    height: 2.5rem;
    border-radius: 10rem;
    background-color: #1c1b1b;
    box-shadow: 0px 0px 1rem 0px rgba(19, 18, 18, 0.75);

    &--actions {
      display: flex;
      justify-content: center;
      align-items: center;

      &--buttons {
        font-family: 'Oswald', sans-serif;
        font-size: 0.8rem;
        color: var(--color-orange);
        letter-spacing: 0rem;
      }

      &--icons {
        color: var(--color-orange);
        padding: 0.4rem;
        border: 0.1rem solid var(--color-orange);;
        border-radius: 50%;
      }
    }

  }
}

.purple {
  color: var(--color-purple);
}

.yellow {
  color: var(--color-yellow);
}

.white {
  color: var(--color-white);
}


