<div class="home">
  <div class="home--title">
    <span>pesronal online</span>
    <ion-icon class="home--title--icon" name="add-circle-outline"></ion-icon>
  </div>

  <div class="home--card">
    <ion-card>
      <div class="home--card--image">
        <ion-img src="assets/cards/levantamento-de-peso.jpg"></ion-img>
      </div>
      <div class="home--card--icon">
        <ion-icon class="" name="add-circle-outline"></ion-icon>
      </div>
      <div class="home--card--text">
        <span>NOVO <br>TREINO</span>
      </div>
    </ion-card>


    <ion-card>
      <div class="home--card--image">
        <ion-img src="assets/cards/levantamento-de-peso.jpg"></ion-img>
      </div>
      <div class="home--card--icon">
        <ion-icon class="" name="add-circle-outline"></ion-icon>
      </div>
      <div class="home--card--text">
        <span>NOVO <br>TREINO</span>
      </div>
    </ion-card>


    <ion-card>
      <div class="home--card--image">
        <ion-img src="assets/cards/levantamento-de-peso.jpg"></ion-img>
      </div>
      <div class="home--card--icon">
        <ion-icon class="" name="add-circle-outline"></ion-icon>
      </div>
      <div class="home--card--text">
        <span>NOVO <br>TREINO</span>
      </div>
    </ion-card>
  </div>

  <div class="home--title">
    <span>pesronal online</span>
    <ion-icon class="home--title--icon" name="add-circle-outline"></ion-icon>
  </div>

  <div class="home--card">
    <ion-card>
      <div class="home--card--image">
        <ion-img src="assets/cards/levantamento-de-peso.jpg"></ion-img>
      </div>
      <div class="home--card--icon">
        <ion-icon class="" name="add-circle-outline"></ion-icon>
      </div>
      <div class="home--card--text">
        <span>NOVO <br>TREINO</span>
      </div>
    </ion-card>


    <ion-card>
      <div class="home--card--image">
        <ion-img src="assets/cards/levantamento-de-peso.jpg"></ion-img>
      </div>
      <div class="home--card--icon">
        <ion-icon class="" name="add-circle-outline"></ion-icon>
      </div>
      <div class="home--card--text">
        <span>NOVO <br>TREINO</span>
      </div>
    </ion-card>


    <ion-card>
      <div class="home--card--image">
        <ion-img src="assets/cards/levantamento-de-peso.jpg"></ion-img>
      </div>
      <div class="home--card--icon">
        <ion-icon class="" name="add-circle-outline"></ion-icon>
      </div>
      <div class="home--card--text">
        <span>NOVO <br>TREINO</span>
      </div>
    </ion-card>
  </div>

  <div class="home--title">
    <span>pesronal online</span>
    <ion-icon class="home--title--icon" name="add-circle-outline"></ion-icon>
  </div>

  <div class="home--card">
    <ion-card>
      <div class="home--card--image">
        <ion-img src="assets/cards/levantamento-de-peso.jpg"></ion-img>
      </div>
      <div class="home--card--icon">
        <ion-icon class="" name="add-circle-outline"></ion-icon>
      </div>
      <div class="home--card--text">
        <span>NOVO <br>TREINO</span>
      </div>
    </ion-card>


    <ion-card>
      <div class="home--card--image">
        <ion-img src="assets/cards/levantamento-de-peso.jpg"></ion-img>
      </div>
      <div class="home--card--icon">
        <ion-icon class="" name="add-circle-outline"></ion-icon>
      </div>
      <div class="home--card--text">
        <span>NOVO <br>TREINO</span>
      </div>
    </ion-card>


    <ion-card>
      <div class="home--card--image">
        <ion-img src="assets/cards/levantamento-de-peso.jpg"></ion-img>
      </div>
      <div class="home--card--icon">
        <ion-icon class="" name="add-circle-outline"></ion-icon>
      </div>
      <div class="home--card--text">
        <span>NOVO <br>TREINO</span>
      </div>
    </ion-card>
  </div>



</div>