.home {
  overflow-x: hidden;
  overflow-y: auto;
  height: calc(88vh - var(--header-height));

  &--title {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: 1rem;
    margin-left: 2rem;
    font-size: 1.5rem;
    color: var(--color-white);
    text-transform: uppercase;
    position: static;

    &--new {
      margin-left: 0.4rem;
      font-size: 0.5rem;
      padding: 0.1rem 0.4rem 0.15rem 0.4rem;
      border-radius: 3rem;
      background-color: var(--color-orange);
      color: var(--color-white);
    }

    &--icon {
      margin-left: 1rem;
      font-size: 1.5rem;
      color: #ce4f2e;
    }
  }

  &--card {
    padding-left: 1rem;
    display: flex;
    width: 100%;
    overflow-x: auto;
    position: relative;

    ion-card {
      border-radius: 1.2rem;
      display: flex;
      justify-content: center;
      align-items: center;
      min-width: 15rem;
      width: 15rem;
      cursor: pointer;
    }

    &--image {
      opacity: 1;

      &::after {
        content: '';
        position: absolute;
        background: linear-gradient(transparent 10%, #000000);
        inset: 0 0 0 0;
      }

      ion-img {
        background: transparent;
      }
    }

    &--icon {
      position: absolute;
      color: #FFFFFF;
      font-size: 3rem;
      margin-right: 3rem;
    }

    &--text {
      position: absolute;
      color: #FFFFFF;
      margin-left: 3rem;
    }

    &--text-card {
      margin-top: 7rem;
      position: absolute;
      color: var(--color-white);
      font-size: 1.2rem;

      &--continue {
        display: flex;
        font-size: 0.8rem;
        color: var(--color-orange);
      }
    }
  }
  ::-webkit-scrollbar {
    display: none;
  }
}

